<!-- for generating the bottom portion of QLab, where information is given about specific cue -->
<section>
  {{infoData}}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/basics">Basics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/timeLoops">Time & Loops</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/deviceLevels">Device & Levels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/trim">Trim</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/audioEffects">Audio Effects</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active">{{timeLoopsData}}</div>
  </div>
</section>
